@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}

.leaflet-container {
    width: 100%;
    height: 100vh;
}

.home {
    height: 100vh;
}
.reports,
.products {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}

.login-page {
text-align: center;
display: flex;
justify-content: center;
align-items: center;
font-family: "Open Sans", sans-serif;
}

html,
body,
#root,
.login-page {
width: 100%;
height: 100%;
}

.login {
width: 27em;
height: 40em;
display: flex;
justify-content: center;
align-items: center;
margin-top: 5px;
position: relative;
z-index: 99;
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.2);
    border-radius: 4px;
    position: relative;
    z-index: 99;
    width: 100%;
    height: 100%;
    z-index: 99;
    padding: 17px 10px;

}
.right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90%;
    background-color: #e74c3c;
    width: 100%;
    position: absolute;
    right: -34%;
    border-radius: 6px;
    z-index: 1;
    transition: all 400ms ease-in-out;
    cursor: pointer;
    box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.281);

    &.right {
    right: -40%;
    align-items: flex-end;
    &:hover {
        right: -45%;
    }
    }
    &.left {
    right: 40%;
    align-items: flex-start;
    &:hover {
        right: 45%;
    }
    }

    .text {
    font-size: 21px;
    font-weight: 500;
    color: #fff;
    margin-right: 3em;
    margin-left: 3em;
    }
}
}

.btn {
    font-size: 21px;
    padding: 5px 20px;
    border: 0;
    background-color: #e74c3c;
    color: #fff;
    border-radius: 3px;
    transition: all 250ms ease-in-out;
    cursor: pointer;
    &:hover {
        background-color: #9a2013;
    }
    &:focus {
        outline: none;
    }
}
