.base-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .header {
        font-size: 24 px;
        font-family: "Open Sans", sans-serif;
    }

    .content {
        display: flex;
        flex-direction: column;

        .image {
            width: 21rem;
            img {
                width: 100%;
                height: 100%;
            }
        }

        .form {
            margin-top: 2em;
            display: flex;
            flex-direction: column;
            align-items: center;

            .form-group {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                width: fit-content;

                label {
                    font-size: 20px;
                }

                input {
                    margin-top: 6px;
                    min-width: 18em;
                    height: 37px;
                    padding: 0px 10px;
                    font-size: 16px;
                    font-family: "Open Sans", sans-serif;
                    background-color: #f3f3f3;
                    border: 0;
                    border-radius: 4px;
                    margin-bottom: 31px;
                    transition: all 250ms ease-in-out;
                    &:focus {
                        outline: none;
                        box-shadow: 0px 0px 12px 0.8px #e74c3c;
                    }
                }
            }
        }
    }
    .footer {
        .error {
            margin-top: 10px;
            color: #ba3939;
            background: #ffe0e0;
            border: 1px solid #a33a3a;
            padding: 5px;
        }
        .success {
            margin-top: 10px;
            color: #2b7515;
            background: #ecffd6;
            border: 1px solid #617c42;
            padding: 5px;
        }
    }
}
